#!/usr/bin/make -f

PROJECT = lyrebird
OUT = ${CURDIR}/debian/${PROJECT}
CFG = ${OUT}/etc/${PROJECT}

export DH_OPTIONS
export DH_GOPKG := gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/lyrebird
export GOCACHE := ${CURDIR}/.cache
export GOFLAGS := -ldflags=-w -ldflags=-s
export PATH := /usr/local/src/golang/go/bin:${PATH}

%:
	dh $@

override_dh_auto_build:
	cd cmd/${PROJECT} && go env && go build

override_dh_auto_clean:
	rm -rf debian/lyrebird
	cd cmd/${PROJECT} && go clean && go clean -cache

override_dh_auto_install:
	dh_auto_install --destdir="${OUT}"
	install -Dm755 "cmd/${PROJECT}/${PROJECT}" "${OUT}/usr/bin/${PROJECT}"

override_dh_auto_test:

override_dh_dwz:
